/* BODY */
body {
  margin: 0;
  line-height: 1.0;
  font-family: 'Source Sans Pro', spincycle-OT;
  background-color: #fff;
  color: #333;
}


/* HEADINGS */
header {
  background: transparent; /* so you see the background through it */
  position: absolute; /* take it out of normal flow */
  top: 0;
  left: 0;
  width: 90%; /*Stretch across page */
  z-index: 2; /* it ensures it sits above the section */
  padding: 20px 40px;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

/* MAIN */
/* SECTION: HERO */
.hero {
  text-align: center;
  padding-top: 150px;
  background: url(Project\ Images/object.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 150vh;
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

.hero h1 {
    font-size: 9rem;
    font-weight: bolder;
    padding-top: 430px;
    margin-bottom: 0.5rem;
} 

.spans-row {
    display: flex;
    color: #fff; /* it adjusts based on the background */
    font-weight: bold;
    padding: 0rem 15rem 0rem;
    font-size: 1.2rem;
    justify-content: space-between; /* even spacing */
    text-transform: uppercase;
    align-items: center;
    max-width: 300px;
}

.cta-button {
    background-color: #C271FF;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 70px;
    cursor: pointer;
    margin-top: 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); /*soft shadow */
    transition: transform 0.2s ease;
}

.cta-button:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.section-title {
    font-weight: 300; /* Thin for the default text*/
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 12rem;
}

.span-color {
    color: #C271FF;
    font-weight: bold;
}

.instructors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 9rem;
    padding: 3rem 0;
    text-align: center;
}

.instructor-card {
    flex: 1 1 110px;
    max-width: 450px;
    color: #fff;
}

.instructor-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.instructor-card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.instructor-card p {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 0.9;
}


/* SECTION: TESTIMONIAL */
.testimonial {
  background-color: #C271FF;
  color: #fff;
  padding: 1rem 1rem;
  text-align: left;
}

.quote {
    max-width: 600px;
    margin: 0 auto;
}
.quote-image {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

blockquote {
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.6;
    padding-left: 10px;
}

.attribution {
    font-size: 0.95rem;
    line-height: 1.4;
    padding-left: 10px;
}

.role {
    font-weight: 400;
    font-style: italic;
    color: #fff; /* Lighter accent for role */
}


/* SECTION: TUTORIALS */
.tutorials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.tutorials h2 {
    text-align: center;
    padding: 40px;
    font-weight: 300;
}
.video-card {
    width: 250px;
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Source Sans Pro';
}

.thumbnail {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 1rem;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.video-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.description {
    font-size: 0.9rem;color: #666;
    margin-bottom: 1rem;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.author {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.author-name {
    font-weight: bold;
    font-size: 0.9rem;
    color: #C271FF;
}

.duration {
    color: #C271FF;
    font-weight: 500;
    padding-left: 10%;
}


/* SECTION: MEMBERSHIP  */
.membership {
  color: #fff;
  background-color: #071629;
  text-align: center;
  padding: 4rem 1rem;
}

.membership h2 {
    margin-bottom: 4rem;
    font-weight: 300;
}

.benefits {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.benefit-card {
    flex: 1 1 250px;
    background-color: transparent;
    padding: 1rem;
    text-align: center;
}

.benefit-card img {
    width: 50px;
}

.benefit-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.benefit-card p {
    font-size: 0.9rem;
    color: #ccc;
}

/* SECTION: FAQ */
.faq-container {
  margin-bottom: 1rem;
}

/* FOOTER */
.footer-container {
  background-color: #111;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footer-p {
    color: #ffffff;
}
